<div class="error_message">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</div>

<h1>Welcome ! <%=@user.username%></h1>
<a href="/logout">Logout</a>
<a href="/products/new">Create a New product here !</a>
<br></br>

<br></br>
<h1>List all products</h1>
<br></br>
<% @user.products.each_with_index do |product, index|%>
  <%= index+1 %>. <a href="/products/<%=product.id%>"><%= product.name %></a>
  <%= product.description %>
  <br></br>
<% end %>
