<div class="error_message">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</div>

<div>
  <h1>Welcome ! <%= @user.username %></h1>
  <a href="/logout">Logout</a>
  <br></br>
  <a href="/products/new">Create New product here !</a>
  <br></br>
</div>

<div>
  <h2>List all products</h2>
  <% if Product.all.size == 0 %>
    <h3>There are no products to display.</h3>
  <% end %>

  <% Product.all.each_with_index do |product, index|%>
    <h3><a href="/products/<%=product.id%>"><%= product.name %></a></h3>
    <p><%= product.description %><p>
    <% end %>
</div>
