<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Welcome ! <%=@user.username%></h1>
<a href="/logout">Logout</a>
<br></br>

<a href="/products/new">Create New product here !</a>
<br></br>

<h2>List all products</h2>
<%if Product.all.size == 0%>
  <h3>There are no products to display.</h3>
<%end%>
<br></br>

<% Product.all.each_with_index do |product, index|%>
  <%= index+1 %>. <a href="/products/<%=product.id%>"><%= product.name %></a>
  <br></br>
  <%= product.description %>
  <!-- <% u = User.find_by_id(product.user_id)%>
  Created by...<%=u.username%> -->
  <br></br>
<% end %>
