<h1>Welcome ! <%=@user.username%></h1>

<br></br>
<h2>List all products</h2>
<br></br>
<% Product.all.each_with_index do |product, index|%>
  <%= index+1 %>. <a href="/products/<%=product.id%>"><%= product.name %></a>
  <br></br>
  <%= product.description %>
  <!-- <% u = User.find_by_id(product.user_id)%>
  Created by...<%=u.username%> -->
  <br></br>
<% end %>

<a href="/products/new">Create a New product here !</a>
<br></br>


<a href="/logout">Logout</a>
